.sidenav {
  height: 105%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background: linear-gradient(to bottom, rgba(21,21,66,1) 0%, rgba(24,75,159,1) 53%, rgba(22,64,145,1) 100%);;
  overflow-x: hidden;
  padding-top: 30px;
}

h3{
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}

.content{
    margin: 20px 0;
  padding: 10px;
/*  background: blue;*/
  display: flex;
}
.content .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
}

.content .sidenav a:hover {
  color: #f1f1f1;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.saveas #saveas{

  background-color: white;
  color: black;
  border: 2px solid #233c97;
  border-radius: 6px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 4px 5px 0px rgba(107,100,232,0.51);
  float: right;
  margin-top: -20px;
  margin-right: 10px;
  position: relative;
}
.sidenav #chart{
  margin-left: 20px;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #b9d0f0;
  color: black;
}
.saveas:hover #saveas{
  background-color: #233c97;
  box-shadow: 0px 15px 20px rgba(107,100,232,0.51);
  color: white;
}

.content .dotted-box{
  border: 1px dashed grey;
/*  float: right;*/
   flex: 1;
  margin-left: 160px;
  padding: 10px;
  height: 600px;
 /* width: 1200px;*/
}

#bardiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#bardivmovable {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
#myDIV {
  height:300px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1px;
  background-color:#d3d9e0 ;
  padding: 0px;
  /* grid: 300px / auto auto auto; */
}
#myDIV div {
  background-color: #e8f1fc;
  text-align: center;
  padding: 0px 0;
  font-size: 11px;
}
.item { grid-area: header; }

.grid-container {
  display: grid;
  grid-template:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 5px;
  background-color: #e8e8e8;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}
#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #users tr:nth-child(even){background-color: #f0f5ff;}

  #users tr:hover {background-color: #d7e4fc;}

  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #192285;
    color: white;
  }
.title{
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #f0f5ff;
  color: #233c97;
}

.button {
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif;
  background-color: #f0f5ff;
  color: black;
  border: 1px solid #233c97;


}

.button:hover {
  background-color: #233c97;
  color: white;
}
.btns button {
  border-radius: 2px;
  margin-left: 18px;
  margin-bottom: 20px;
  cursor: pointer; /* Pointer/hand icon */
  width: 80%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btns button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.add{
  border-color: white;
  background-color: #f0f5ff;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
.add:hover {
  background-color: #233c97;
  color: white;
}
