
<div class="container">  
    
  <h1> Display Data from Json File in Angular 9 </h1>  
    
 <!--  <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>ID</th>  
          <th>Name</th>  
          <th>Email</th>  
          <th>Gender</th>  
          <th>Department</th>  
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let employee of employee1">  
        <td>{{ employee.id }}</td>  
        <td>{{ employee.name }}</td>  
        <td>{{ employee.email }}</td>  
        <td>{{ employee.gender }}</td>  
        <td>{{ employee.department }}</td>  
      </tr>  
    </tbody>  
  </table>   -->
</div>  